<%- include ('layouts/main') %>

  <h2 class="text-center">Edit Course</h2>
  <div class="container">
    <div class="text-left">
      <a class="btn btn-secondary mb-2" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
          fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          <path fill-rule="evenodd"
            d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        </svg></a>
    </div>

    <form action="/update/ <%= data.id %>" method="post">
      <div class="form-group">
        <label for="exampleInputName">Coursename</label>
        <input type="text" name="coursename" class="form-control" placeholder="Coursename" value=<%=data.coursename %> required>
      </div>
      <div class="form-group">
        <label for="exampleInputName">Duration</label>
        <input type="text" name="duration" class="form-control" placeholder="Duration" value=<%=data.duration %> required>
      </div>
      <div class="form-group">
        <label for="exampleInputName">Fees</label>
        <input type="text" name="fees" class="form-control" placeholder="Fees" value=<%=data.fees %> required>
      </div>
      <div class="text-left">
        <button type="submit" class="btn btn-secondary mt-4">Update Course</button>
      </div>
    </form>
  </div>