<!-- Header -->
<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <a class="navbar-brand">Expense Manager</a>
    <a href="/logout" class="btn btn-secondary me-4">Logout</a>
</nav>


<h2 class="text-center mt-5">Account Details</h2>
<div class="container">
    <form action="/accountadd" method="post">
        <!-- flash messages -->
        <% flash.get('success').forEach(function (message) { %>
            <div class="alert alert-dismissible  alert-success fade show " role="alert">
                <button class="btn-close light" type="button" data-bs-dismiss="alert" aria-label="close"></button>
                <strong>
                    <%= message %>
                </strong>
            </div>
            <% }) %>
                <% flash.get('error').forEach(function (message) { %>
                    <div class="alert alert-dismissible  alert-danger fade show " role="alert">
                        <button class="btn-close light" type="button" data-bs-dismiss="alert"
                            aria-label="close"></button>
                        <strong>
                            <%= message %>
                        </strong>
                    </div>
                    <% }) %>
                        <div class="row mt-3">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <input type="text" id="accountname" name="accountname"
                                        class="form-control form-control-lg" placeholder="Enter a new account name"
                                        required />
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <button type="submit" class="btn btn-dark btn-lg "><i class="fa fa-plus"></i>
                                        Add</button>
                                </div>
                            </div>
    </form>
    <div class="table-responsive-small">
        <div class="text-left">
            <table class="table">
                <thead class="table-dark">


                    <tr>
                        <th>Id</th>
                        <th>Account Name</th>
                        <th>Balance</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% account.forEach((account,index)=>{ %>
                        <tr>
                            <td>
                                <%= index+1 %>
                            </td>
                            <td>
                                <%= account.accountname %>
                            </td>
                            <td>
                                <%= account.balance %>
                            </td>
                            <td>
                                <a href="/transaction/<%= account.id %>" class="btn btn-outline-success"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-eye" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                        <path
                                            d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                    </svg></a>
                                <a href="/account/edit/<%= account.id %>" class="btn btn-outline-primary"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pen-fill" viewBox="0 0 16 16">
                                        <path
                                            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                                    </svg>
                                </a>
                                <a href="/account/delete/<%= account.id %>" class="btn btn-outline-danger"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>